*{
    margin:0;
    padding:0;
    }
  /* 蓝条*/
  .rectangle {
      width: 100%;
      height: 20px; 
      background-color: #1a2665; 
    }
  
  /* 标题*/
  /* 标题 */
  header {
    grid-column: span 2;
    text-align: start;
    border-bottom: 3px solid #1a2665;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr; 
    align-items: flex-end; 
    padding-bottom: 10px;
  
    h1 {
      grid-column: span 2; 
      font-size: 2em;
      margin-bottom: 0.25rem;
      margin-left: 5%;
      font-family: 'Hanken Grotesk', san-serif;
      display: inline-block; 
      vertical-align: baseline; 
    }
  
    .info {
      grid-column: 3/ 4; 
      font-size: 1.5em; 
      text-align: bottom; 
      margin-top: 500px; 
      display: inline-block; 
      vertical-align: baseline; 
    }
    }
  
  
    #info a {
      color: black; 
      text-decoration: none; 
    }
  
    #info a:hover {
      text-decoration: underline;
    }
  
    .contact {
      grid-column: 3/ 4; 
      font-size: 1.5em; 
      text-align: left;
      margin-top: 100px; 
    }
  
    #contact a {
      color:black; 
      text-decoration: none; 
    }
  
    #contact a:hover {
      text-decoration: underline;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; 
    }
.introtitle{
    grid-column: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 400px;
    
    
}
 .introtitle h1{
    font-family: 'Hanken Grotesk', san-serif;
    text-align: right;
    font-size: 5em;
    

  }    
      
.textbox {
    font-family: 'Hanken Grotesk', san-serif;
    margin-top: 60px;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    text-align: left;
    text-align:  justify;
   
    font-size: 1.2em;
    position: absolute;
    left:70%;
    transform: translate(-50%, 10%);
    text-indent: 40px;
    border-left:#1a2665 solid 3px;
    padding-bottom: 200px;

  }

.textbox.p{
    text-indent: 20px;
}